/secure
aws/*
aws*
*.tfvars

.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup   
*.tfvars              
crash.log
override.tf
notes/.obsidian/app.json
notes/.obsidian/appearance.json
notes/.obsidian/core-plugins.json
notes/.obsidian/workspace.json
notes/Building worldscore-infra step by step (Bash).md
notes/Interview Prep.md
notes/Mock Interview Prep.md
notes/ReadMe.md
notes/CICD/EKS Deployment Challenges.png
notes/CICD/GitOps.md
